.nav .current {
    background: #31c27c;
}

.nav .current a {
    color: #FFFFFF;
}

.yinyueguan .current a {
    color: #31c27c;
}

.drop {
    visibility: visible !important;
    max-height: 800px;
    transition: max-height 2s ease-out;
}

.arrowHide {
    position: absolute;
    background-color: rgb(70, 70, 70);
    opacity: 0.5;
    transition: all 0.5s ease-in-out;
    top: 50%;
    margin-top: -50px;
    width: 1px;
    height: 108px;
    line-height: 108px;
    font-size: 30px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    overflow: hidden;
}

.arrowShow {
    position: absolute;
    background-color: rgb(70, 70, 70);
    transition: all 0.5s ease-out;
    opacity: 0.7;
    top: 50%;
    margin-top: -50px;
    width: 72px;
    height: 108px;
    line-height: 108px;
    font-size: 30px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    overflow: hidden;
    cursor: pointer;
}

.arrowCurrent {
    position: absolute;
    background-color: #31c27c;
    opacity: 1;
    transition: all 0.5s ease-in-out;
    top: 50%;
    margin-top: -50px;
    width: 90px;
    height: 108px;
    line-height: 108px;
    font-size: 30px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    overflow: hidden;
    cursor: pointer;
}

.mask-current {
    opacity: 0.3;
}

.ph-mask-current {
    opacity: 0.5;
}

.img-current {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.icon-play-current {
    /*width: 70px;*/
    /*height: 70px;*/
    /*margin: -35px;*/
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0.7;
}

.ph-icon-play-current {
    /*width: 70px;*/
    /*height: 70px;*/
    /*margin: -35px;*/
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.ph-list-bg-current {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.square-current {
    opacity: 1 !important;
}

.square-current-click {
    opacity: 1 !important;
}

/*.sliders .jc-slider {*/
/*right: 400px;*/
/*margin-left: 0;*/
/*opacity: 0.5;*/
/*width: 400px;*/
/*height: 53%;*/
/*top: 50%;*/
/*margin-top: -80px;*/
/*}*/

#caroursel-center {
    display: block;
    left: 225px !important;
    opacity: 1;
    width: 751px;
    height: 100%;
    top: 0;
    position: absolute;
    -webkit-background-size: cover;
    background-size: cover;
    z-index: 2;
    transition: all  0.3s linear;
    margin-top: 0;
}

#caroursel-right {
    display: block;
    left: 800px !important;
    opacity: 0.5;
    width: 400px;
    height: 53%;
    top: 50%;
    margin-top: -80px;
    position: absolute;
    -webkit-background-size: cover;
    background-size: cover;
    z-index: 1;
    transition: all  0.3s linear;
}

#caroursel-left {
    display: block;
    left: 0 !important;
    opacity: 0.5;
    width: 400px;
    height: 53%;
    top: 50%;
    margin-top: -80px;
    position: absolute;
    -webkit-background-size: cover;
    background-size: cover;
    z-index: 1;
    transition: all  0.3s linear;
}

#caroursel-left-out {
    display: block;
    left: -400px !important;
    opacity: 0.5;
    width: 400px;
    height: 53%;
    top: 50%;
    margin-top: -80px;
    position: absolute;
    -webkit-background-size: cover;
    background-size: cover;
    z-index: 1;
    transition: all  0.3s linear;
}

#caroursel-right-out {
    display: block;
    left: 1200px !important;
    margin-left: 0;
    opacity: 0.5;
    width: 400px;
    height: 53%;
    top: 50%;
    margin-top: -80px;
    position: absolute;
    -webkit-background-size: cover;
    background-size: cover;
    z-index: 1;
    transition: all  0.3s linear;
}

.caroursel-default-right {
    display: block;
    left: 1200px;
    margin-left: 0;
    opacity: 0.5;
    width: 400px;
    height: 53%;
    top: 50%;
    margin-top: -80px;
    position: absolute;
    -webkit-background-size: cover;
    background-size: cover;
    z-index: 1;
    transition: all  0.3s linear;
}
.caroursel-default-left {
    display: block;
    left: -400px;
    margin-left: 0;
    opacity: 0.5;
    width: 400px;
    height: 53%;
    top: 50%;
    margin-top: -80px;
    position: absolute;
    -webkit-background-size: cover;
    background-size: cover;
    z-index: 1;
    transition: all 0.3s linear;
}

